{
  "presets": [
    [
      "env", {
        "uglify": true,
        "loose": true,
        "targets": {
          "browsers": [
            "last 2 versions",
            "not ie < 11"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false
      }
    ]
  ]
}
